h1{
    font-size: 21px;
    padding : 10px;
    font-weight : 500;
    color:white;
    letter-spacing : 1px;
    text-align: center;
    margin : 0;
    background-color:#225B95;
}
hr{
    margin : 0px;
    margin-top : 24px;

}
p{
    margin : 0.5px;
    font-weight : 700;
}
.contents{
    font-size : 13px;
    font-weight : 500;
}

.section1{
    display : inline-block;
    margin-left : 5%;
}
.section2{
    display : inline-block;
    margin :0;
    position:relative;top:20px;
    margin-left : 5%;


}
.section3{
    display : inline-block;
    margin :0;
    margin-left : 5%;
}
.section4{
    display : inline-block;
    margin-right :5%;
    float:right;
    display : none;
    button{
        width : 34px;
        height : 34px;
        border-radius: 5px;
        cursor : pointer;
      }
     
      #delete{
        margin-top : 13%;
        background : url( '../../image/cancle.png') no-repeat;
      }
      #add{
          margin-top : 13%;
          background : url( '../../image/plus.png') no-repeat;
      }
}

.content:hover .section4 {
    display: block;
    
  }
.content:hover {
    background-color : rgb(193, 213, 236) ;
  }




