::-webkit-scrollbar {width: 5px; height: 3px; border: 0px solid #fff; }
::-webkit-scrollbar-thumb {height: 3px; width: 5px; background: #FFCA55 }

.header{
    
    margin:0;
    background-color:#225B95;
    text-align: center;
    position: relative;

     #head{
        font-size: 21px;
        padding : 5px;
        font-weight : 500;
        color:white;
        letter-spacing : 1px;
        text-align: center;
        margin : 0;
        background-color:#225B95;
     }
    #trashcan{
        position: absolute;
        z-index: 1;
        top:8px;
        right : 0;
        float:right;
        margin-right :2% ;
        height:23px;
        width:23px;
        border: none;
        background : url( '../../image/trashcan.png') no-repeat;
        background-size : cover;
        cursor: pointer;
    }
    #trashcan:hover{
       opacity: 0.6;
    }
}

hr{
    margin : 0px;
    margin-top : 24px;
    border:1px solid #225B95;
}
p{
    margin : 0.5px;
    font-weight : 700;
}


.contents{
    margin : 0;
    font-size : 13px;
    font-weight : 500;
    height : 81.5%;
    width : 100%;
    overflow: scroll;
    position : relative;
    .noResult{
        color : dimgray;
        margin-top : 60%;
    }

    .section1{
        margin : 0;
        margin-top : 10px;
        color: #FF6D00 ;
        position: relative;
    }
    .section2{
        margin-bottom :10px;
        display : inline-block;
        top : 20px;
        position: relative;
    }
    .section3{
        display : inline-block;
        position: relative;
        margin-left : 10%;
       
    }
    .section4{
        right : 3%;
        position: absolute;
        z-index: 1;
        display : none;
        button{
            width : 34px;
            height : 34px;
            border-radius: 5px;
            cursor : pointer;
        }
        #delete{
            background : url( '../../image/cancle.png') no-repeat;
            background-size : cover;
            position: relative;
        }
        #add{
         
            background : url( '../../image/plus.png') no-repeat;
            background-size : cover;//이미지가 버튼 사이즈에 맞게 조절
           
        }
    }
  
}

.content:hover .section4 {
    display: inline-block;
    z-index: 1;
    
  }
.content:hover {
    background-color : rgb(193, 213, 236) ;
  }


#foot{
    font-weight : 500;
    text-align: center;
    
    border:2px solid #225B95;
    background-color:#9CBADF;
    vertical-align: middle;
    width: 99.9%;
    position:relative;right:2px;
    height : 49px;
    .all{
        width : 100px;
        font-weight : 600;
        border-radius: 5px;
        padding: 7px 6px;
        font-size: 17px;
        text-decoration: none;
        margin : 0;
        color: white;
        cursor : pointer;
        text-align: center;
        border-radius:20px;
        background-color:#FFCA55 ;
        border:0px solid;
        position:relative;bottom:5px;
      }
      .all:hover{
          opacity:0.6;
      }
}
