::-webkit-scrollbar {width: 5px; height: 3px; border: 0px solid #fff; }
::-webkit-scrollbar-thumb {height: 3px; width: 5px; background: #FFCA55 }

#head{
    font-size: 21px;
    padding : 5px;
    font-weight : 500;
    color:white;
    letter-spacing : 1px;
    text-align: center;
    margin : 0;
    background-color:#225B95;
}

hr{
    margin : 0px;
    margin-top : 24px;
    border:1px solid #225B95;
}
p{
    margin : 0.5px;
    font-weight : 700;
}
.contents{
    font-size : 13px;
    font-weight : 500;
    height:85%;
    overflow: scroll;
    @media only screen and (min-width : 1824px) {
        //큰 화면
        height :86.7%;
    }

    .section1{
        display : inline-block;
        margin-left : 5%;
    }
    .section2{
        display : inline-block;
        margin :0;
        position:relative;top:20px;
        margin-left : 5%;


    }
    .section3{
        display : inline-block;
        margin :0;
        margin-left : 5%;
    }
    .section4{
        display : inline-block;
        margin-right :5%;
        float:right;
        display : none;
        button{
            width : 34px;
            height : 34px;
            border-radius: 5px;
            cursor : pointer;
        }
        
        #delete{
            margin-top : 13%;
            background : url( '../../image/cancle.png') no-repeat;
            background-size : cover
        }
        #add{
            margin-top : 13%;
            background : url( '../../image/plus.png') no-repeat;
            background-size : cover//이미지가 버튼 사이즈에 맞게 조절
        }
    }
}


.content:hover .section4 {
    display: block;
    
  }
.content:hover {
    background-color : rgb(193, 213, 236) ;
  }

#foot{
    font-weight : 500;
    text-align: center;
    margin : 0;
    border:2px solid #225B95;
    background-color:#9CBADF;
    vertical-align: middle;
    width: 99.9%;
    position:relative;right:2px;
    height : 49px;
    .all{
        width : 100px;
        font-weight : 500;
        border-radius: 5px;
        padding: 7px 6px;
        font-size: 17px;
        text-decoration: none;
        margin : 0;
        color: white;
        cursor : pointer;
        text-align: center;
        background-color:#FFCA55 ;
        position:relative;bottom:5px;
      }
}
