h1{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    color:#E6F1FC;
    text-align: center;
    margin-bottom: 0px;
    margin-top:0px;
    background-color:#225B95;
}
h2{
    margin-top:0px;
    margin-bottom:0px;
    padding:5px;
    background-color:#9CBADF;
}

.blue_window {
    display: inline-block;
    width: 57%; height: 37px;
    margin-top:5px;
    border: 3px solid #225B95;
    background: white;
}
.blue_window2 {
    display: inline-block;
    width: 90%; height: 30px;
    margin-top:0px;
    border: 0;
    line-height: 21px;
    font-weight: bold;
    font-size: 16px;
    outline: none;
}
.sch_filt {
    width: 54px; height: 40px;
    margin: 0; border: 0;
    margin-top:5px;
    vertical-align: top;
    background: #225B95;
    color: white;
    font-weight: bold;
    border-radius: 1px;
    cursor: pointer;
}

.sch_filt:hover {
    background: rgb(66, 173, 206);
}

.boxed {
    border: 1px solid #225B95 ;
  }

  .placeholder-box {
    position: relative;
    display: block;
    width: 350px;
    min-height: 150px;
    margin-top: 0px;
    padding: 5px;
    border: 1px solid #888;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
    background-color:#E6F1FC;
  }
    
  .placeholder-box p {
    text-align:left;
    
  }
  
   button {
   display: block;
   border: solid white;
   border-width: 0 10px;
   border-radius: 0;
   background: #FFCA55;
   color: white;
   font-size: 13px;
   font-weight: bold;
   margin: 0px auto 10px;
   padding: 3px;
  }

  td{
      margin-bottom:0;
  }
  p{
    margin : 0.5px;
    font-weight : 700;
}
.contents{
    font-size : 13px;
    font-weight : 500;
}


  .section1{
    display : inline-block;
    margin-left : 5%;
}

.section2{
    display : inline-block;
    margin :0;
    position:relative;top:20px;
    margin-left : 5%;
}

.section3{
    display : inline-block;
    margin :0;
    margin-left : 5%;
}

.section4{
    display : inline-block;
    margin-right :5%;
    float:right;
    display : none;
    button{
        width : 34px;
        height : 34px;
        border-radius: 5px;
        cursor : pointer;
      }
     
      #delete{
        margin-top : 13%;
        background : url( '../../image/cancle.png') no-repeat;
      }
      #add{
          margin-top : 13%;
          background : url( '../../image/plus.png') no-repeat;
      }
}

.content:hover .section4 {
    display: block;
    
  }
.content:hover {
    background-color : rgb(193, 213, 236) ;
  }