::-webkit-scrollbar {width: 5px; height: 3px; border: 0px solid #fff; }
::-webkit-scrollbar-thumb {height: 3px; width: 5px; background: #FFCA55 }

#head{
    font-size: 21px;
    padding : 5px;
    font-weight : 500;
    color:white;
    letter-spacing : 1px;
    text-align: center;
    margin : 0;
    background-color:#225B95;
}

h2{
    margin-top:0px;
    margin-bottom:0px;
    padding:5px;
    background-color:#9CBADF;
}

.blue_window {
    display: inline-block;
    width: 57%; height: 37px;
    margin-top:5px;
    border: 3px solid #225B95;
    background: white;
}

.sch_filt {
    width: 54px; height: 40px;
    margin: 0; border: 0;
    margin-top:5px;
    vertical-align: top;
    background: #225B95;
    color: white;
    font-weight: bold;
    border-radius: 1px;
    cursor: pointer;
}

.sch_filt:hover {
    background: rgb(66, 173, 206);
}

  .placeholder-box {
    position: absolute;
    top:253px;
    display: block;
    width: 400px;
    height:500px;
    min-height: 200px;
    margin-top: 0px;
    padding: 5px;
    border: 1px solid #888;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
    background-color:#E6F1FC;
  
  }
    .placeholder-box p {
    text-align:left;
    margin:10px;
    margin-bottom: 30px;
    color:#225B95;
    font-weight:700;
   }

 
  
   .search {
    position:relative;
    
    width: 100px;
    height: 28px;
    border: none;
    margin: 0.5px;
    padding: 0;
    background-color:#FFCA55;
    color:white;
    border-radius: 10px;
   
   }

  .credit{
   
    width: 50px;
    height: 28px;
    border: 1px solid #225B95;
    margin: 0.5px;
    padding: 0;
    background-color:white;
    color:#225B95;

  }
  .openchoose{
    width: 100px;
    height: 28px;
    border: 1px solid #225B95;
    margin: 0.5px;
    padding: 0;
    background-color:#225B95;
    color:white;
    border-radius: 10px;
 
 
  }
  
  .placeholder-box2 {
    position: absolute;
    top:0px;
    display: block;
    width: 400px;
    min-height: 400px;
    margin-top: 0px;
    padding: 5px;
    left: -1px;
    border: 1px solid #888;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
    background-color:#E6F1FC;
    table {
        margin-top:5px;
        width: 100%;
        border: 1px solid #225B95;
        border-collapse: collapse;
        background-color:white;
      }
      th, td {
        text-align:center;
        border: 2px solid #225B95;
        color: rgb(102, 151, 201);
      }
    
        .choosedone{
            position:absolute;
            top:355px;
            right: 80px;
            font-size:20px;
            background-color:#FFCA55;
            color:white;
            border-radius: 10px;
        }
        .choosereset{
            position:absolute;
            top:355px;
            left:80px;
            font-size:20px;
            background-color:#FFCA55;
            color:white;
            border-radius: 10px;
        }
  }
  .placeholder-box2 p {
    text-align:center;
    color:#225B95;
    font-weight:500;
    margin:0px;
   }


  p{
    margin : 1px;
    font-weight : 700;
    padding:2px;
    
}
.contents{
   
    font-size : 13px;
    font-weight : 500;
    height:85%;
    overflow: scroll;
    @media only screen and (min-width : 1824px) {
        //큰 화면
        height :86.7%;
    }
}
.section1{
    display : inline-block;
    margin-left : 5%;
}
.section2{
    display : inline-block;
    margin :0;
    position:relative;top:20px;
    margin-left : 5%;

}
.section3{
    display : inline-block;
    margin :0;
    margin-left : 5%;
}

.section4{
    display : inline-block;
    margin-right :5%;
    float:right;
    display : none;
    
    button{
        width : 34px;
        height : 34px;
        border-radius: 5px;
        cursor : pointer;
    }
    
    #delete{
        margin-top : 13%;
        background : url( "../../image/cancle.png") no-repeat;
        background-size : cover
    }
    #fav{
        border: none;
        margin-top : 13%;
        background : url( '../../image/starF.png') no-repeat;
        background-size : cover//이미지가 버튼 사이즈에 맞게 조절
    }
    #add{
        margin-top : 13%;
        background : url( '../../image/plus.png') no-repeat;
        background-size : cover//이미지가 버튼 사이즈에 맞게 조절
   }

}


.content:hover .section4 {
    display: block;
    
  }
.content:hover {
    margin-top:0px;
    background-color : rgb(193, 213, 236) ;
  }

  #foot{
    position:absolute;
    bottom: 47px;
    font-weight : 500;
    text-align: center;
    margin : 0;
    border:2px solid #225B95;
    background-color:#9CBADF;
    vertical-align: middle;
    width: 99.9%;
    position:relative;right:2px;
    height : 49px;
  }

 
 /*.myCanvas{
    background-color: white;

 }*/
 