@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
//스크롤바 크롬
::-webkit-scrollbar {width: 5px; height: 3px; border: 0px solid #fff; }
::-webkit-scrollbar-thumb {height: 3px; width: 5px; background: #FFCA55 }
body{
    position : relative
}
.head{
    margin:0;
    background-color:#225B95;
    text-align: center;
    position: relative;
    h3{

        font-size : 24px;
        padding : 0%;
        margin:0px;
        // margin-left : 20%;
        color:white;
        display: inline-block;
    }
    #credit{
        position: absolute;;
        bottom: 2px;
        right : 1%;
        color:white;
        margin-left : 10%;
        font-size : 15px;
        #num{
            color : #FF6D00 ;
        }
    }
   
    // #reset{
    //     display: inline;
    //     position:relative;top:8px;
    //     float:right;
    //     margin-right :10% ;
    //     height:20px;
    //     width:20px;
    //     border : none;
    //     background : url( '../../image/calendar.png') no-repeat;
    //     background-size : cover;
    //     cursor: pointer;
    // }
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
//스크롤바
::-webkit-scrollbar {width: 5px; height: 3px; border: 0px solid #fff; }
::-webkit-scrollbar-thumb {height: 3px; width: 5px; background: #FFCA55 }



.timetable{
    position:relative;
    overflow: scroll;
    height : 85.5%;//foot 부분이랑 크기 조절
    width : 100%;
    margin :0;
    display : flex;

   
    table{
        width : 99%;
        border-collapse: collapse;
        
    th{
        border-bottom : 2px solid #225B95;
        
    }   
    td{
        position : relative;
        width : 40px;
        border-bottom : 1px solid #225B95;
        border-top: 1px solid #225B95;
        border-right: 1px solid #225B95;
        height : 100px;//1교시당 시간 높이
    }
    #last{
        border-right : none;
    }
    #class_time{
       width  : 10%;
       border-right : 2px solid #225B95;
       text-align : center;
    }
    .course{
        border : 1px solid orange;
        display: inline-block;
        
    }
    
    }
}



.foot{
    text-align: center;
    border:2px solid #225B95;
    background-color:#9CBADF;
    width: 100%; 
    height : 49px;
    position:absolute;
    left : -2px;
   
    
    .btn{
        width : 100px;
        font-weight : 600;
        border-radius: 5px;
        padding: 7px 6px;
        font-size: 17px;
        text-decoration: none;
        margin : 0;
        color: white;
        cursor : pointer;
        text-align: center;
        background-color:#FFCA55 ;
        border-radius:20px;
        border:0px solid;
        position:relative;top:8px;
    }
}