@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
//스크롤바 크롬
::-webkit-scrollbar {width: 5px; height: 3px; border: 0px solid #fff; }
::-webkit-scrollbar-thumb {height: 3px; width: 5px; background: #FFCA55 }

.head{
    margin:0;
    background-color:#225B95;
    text-align: center;
    h3{
        font-size : 10px;
        padding : 0%;
        margin:0px;
        // margin-left : 20%;
        color:white;
        display: inline-block;
    }
   
   
    #undo{
        display: inline;
        position:relative;top:8px;
        float: right;
        margin-right :5% ;
        border : none;
        height:20px;
        width:20px;
        background : url( '../../image/schedule_left.png') no-repeat;
        background-size : cover//이미지가 버튼 사이즈에 맞게 조절
    }
    #redo{
        display: inline;
        position:relative;top:8px;
        float:right;
        margin-right :10% ;
        height:20px;
        width:20px;
        border : none;
        background : url( '../../image/schedule_right.png') no-repeat;
        background-size : cover
    }
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
//스크롤바
::-webkit-scrollbar {width: 5px; height: 3px; border: 0px solid #fff; }
::-webkit-scrollbar-thumb {height: 3px; width: 5px; background: #FFCA55 }



.timetable{
    position:relative;
    overflow: scroll;
    height : 86%;
    width : 100%;
    margin :0;
    @media only screen and (max-width : 1824px) {
        //맥북화면
        height : 85%;
        
      }

   
    table{
        width : 99%;
        border-collapse: collapse;
        
    th{
        border-bottom : 2px solid #225B95;
    }   
    td{
        position : relative;
        width : 40px;
        border-bottom : 1px solid #225B95;
        border-top: 1px solid #225B95;
        border-right: 1px solid #225B95;
        height : 80px;//1교시당 시간 높이
    }
    #last{
        border-right : none;
    }
    #class_time{
       width  : 10%;
       border-right : 2px solid #225B95;
       text-align : center;
    }
    .course{
        border : 1px solid orange;
        display: inline-block;
        
    }
    
    }
}



.foot{
    text-align: center;
    margin : 0;
    border:2px solid #225B95;
    background-color:#9CBADF;
    width: 99.9%;
    height : 49px;
    position:relative;right:2px;
    #save{
        width : 100px;
        font-weight : 500;
        border-radius: 5px;
        padding: 7px 6px;
        font-size: 17px;
        text-decoration: none;
        margin : 0;
        color: white;
        cursor : pointer;
        text-align: center;
        background-color:#FFCA55 ;
        position:relative;top:8px;
    }
}