h1{
   
        font-size : 50pt;
        margin-top : 4%;
        margin-bottom : 2%;
        color : #225B95;
        font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; 
        font-style : italic;
      
}

#category{
    font-size:20pt;
    margin-left:16%;
    color: #225B95;
    font-weight:300;
}

#i1{

 
}

#i2{
   

}

.p1{
    padding:0%;
}

td{
    margin-left:5%;
    width:8%;
}

.d1{
    margin-left:15%;
}
// .icon1{
 
//     // position:relative;
// //    left:10%;

// }


// .icon2{
//     float:right;
//     position:relative;
//     right:30%;
// }

// .icon3{
//     position:relative;
//     left:14%;
   
// }

// .icon4{
//     float:right;
//     position:relative;
//     right:30%;
// }

// .icon5{
//     position:relative;
//     left:14%;
// }



