.entire{
z-index: 2;
}



h1{
   
        font-size : 50pt;
        margin-top : 4%;
        margin-bottom : 0%;
        color : #225B95;
        font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; 
        font-style : italic;
      
}
h3{
    color : #9CBADF;
    
    font-style : italic;
}

#category{
    font-size:20pt;
    margin-left:16%;
    color: #225B95;
    font-weight:300;
}



.p1{
    padding:0%;
}

td{
    margin-left:5%;
    width:8%;
}

.d1{
    margin-left:15%;
}

.back{
    width:200px;
    height:35px;
    background-color: #225B95;
    color: white;
    border:0;
    border-radius:5%;
    font-size:17pt;
}