
.footer{
    width : 100%;//이렇게 해야 화면 가로비율이 줄어들때 스크롤바가 생김.
    clear : both;
    .bottom{
        hr{
            margin-bottom :0;
            margin-top:8%;
            

                
              }
        
        }
        p{       
                color : dimgrey;
                font-size : 0.7em;
                margin-top :0.4%;
        }
        a{  
            font-size:14px;
            margin:5%;
           
            
        }

        #feedback{
            background-color: powderblue;
            color:dimgrey;
            border:0px;
        }
    }

    a:link { color: dimgrey; text-decoration: none; }
    a:visited { color: dimgrey; text-decoration: none; }


