
.footer{
    margin-bottom : 9%;
    clear : both;

    .bottom{
        margin-bottom:10px;

        hr{
                
            margin-bottom :0;
            margin-top:6%;

                
        }
        
        p{       
                color : dimgrey;
                font-size : 0.8em;
                margin-top :0.4%;
              

                

               
        }
    }
}

