
.header{
    width : 100%;
    .logo{
        width : 40%;
        height: auto;
        background-image : url("../image/logo_large.png ");
    }
    
    }
    button{
        margin-left : 0.5%;
        margin-top : 3%;
    
        text-align: center;
        background-color: #FFCA55;
        font-size: 1em;
        padding: 0.5%;
        color : white;
        border-radius: 10px;
        border : 0px;
    }





