
.header{
    margin-bottom : 9%;
    .logo{
        margin-left : 1.5%;
        float : left;
        display : block;
        h1{
            color : #225B95;
            font-family: Baskerville;
            font-style : italic;
            font-size : 3.5em;
            margin-bottom : 0%
        }
        p{
            color : dimgrey;
            font-size : 0.8em;
            margin-top : 0%
        }
    }
    .line{
        margin-left : 2%;
       border  : 1px solid  black;
       width : 70%;
       float : left;
       margin-top :4%
    }

    .user{
        float : left;
        margin-left : 1%;
        margin-top : 2.4%;
        #name{
            display : inline;
            color :#FF6D00 
        }
    }
    button{
        margin-left : 0.5%;
        margin-top : 3%;
        float : left;
        text-align: center;
        background-color: #FFCA55;
        font-size: 16px;
        padding: 7px;
        color : white;
        border-radius: 10px;
        border : 0px;
    }
}


