

  .logo{
    text-align: center;
    h1{
      font-size : 90pt;
      margin-top : 15%;
      margin-bottom : 2%;
      color : #225B95;
      font-family: Baskerville;
      font-style : italic;
    }
    p{
      color : darkgrey;
      margin-bottom : 3%
    }
  }
  

  
  form{
    margin-top : 0;
    margin-left : 33%;
    margin-right: 35%;
    .login_box{
      display : block;
      .text_box{
        width : auto;
        input{
          float : right;
          margin-right: 3%;
          margin-bottom : 5px;
          width: 60%;
          padding: 9px;
          font-size: 15pt;
          border : 1.6px solid #225B95;
          color:#225B95
          
        }
        ::placeholder { color: #225B95; font-size: 15px; } 
      }
      .btn{
        width : 90px;
        height : 90px;
        border-radius: 25px;
        padding: 7px 7px;
        font-size: 22px;
        text-decoration: none;
        margin: 0;
        color: #fff;
        position: relative;
        float : right;
        cursor : pointer;
        text-align: center;
      }
    }
  .check_box {
    clear: both;
    margin-left : 19%;
    input{ 
     display : inline
    }
    p{ 
      display : inline;
    }
  }
}
 
  

.yellow {
  text-align: center;
  background-color: #FFCA55;
  font-size: 16px;
}

.yellow:hover {
  background-color: rgb(192, 152, 65)
}




#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}