.logo{
  text-align: center;
  margin-top : 10%;
  h1{
    font-size : 90pt;
    margin-bottom : 0%;
    color : #225B95;
    font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; 
    font-style : italic;
  }
  p{
    margin-top:0%;
    letter-spacing: 5px;
    font-size : 13px;
    margin-bottom : 3%
   
  }

}
.mainlogo1{
 margin-bottom:0%;
  
}

.onlylogin{
  margin-bottom:0%;
}


form{
  margin-top : 0;
  margin-left : 33%;
  margin-right: 35%;
  .login_box{
    display : block;
    .text_box{
      width : auto;
      input{
        float : right;
        margin-right: 3%;
        margin-bottom : 5px;
        width: 65%;
        padding: 9px;
        font-size: 15pt;
        border : 1.6px solid #225B95;
        color:#225B95
        
      }
      ::placeholder { 
        color: #225B95;
        font-size: 20px;
        font-weight :150;
         } 
    }
    .btn{
      width : 90px;
      height : 90px;
      border-radius: 25px;
      padding: 7px 7px;
      font-size: 22px;
      text-decoration: none;
      margin: 0;
      color: #fff;
      position: absolute;
      margin-top:0%;
      left:58%;
      margin-left:0%;
      left:58%;
      float : right;
      cursor : pointer;
      text-align: center;
    }
  }
  
.check_box {
  clear: both;
  margin-left : 11%;
  input{ 
   display : inline
  }
  p{ 
    display : inline;
  }
}
}

.t1{
  position:relative;
  right:20%;
}
    

 
  
.footer{
  position: absolute;
  bottom : 2%;
}

.yellow {
text-align: center;
background-color: #FFCA55;
font-size: 16px;

}

.yellow:hover {
background-color: rgb(192, 152, 65)
}



#loading {
  display: absolute;
  z-index: 2;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;

}


.container {
position: absolute;
width: 200px;
height: 200px;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
 

}

.item {
width: 100px;
height: 100px;
position: absolute;
}

.item-1 {
background-color: #E6F1FC;
top: 0;
left: 0;
z-index: 1;
animation: item-1_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}

.item-2 {
background-color: #9CBADF;
top: 0;
right: 0;
animation: item-2_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}

.item-3 {
background-color: #225B95;
bottom: 0;
right: 0;
z-index: 1;
animation: item-3_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}

.item-4 {
background-color: #FAC24C;
bottom: 0;
left: 0;
animation: item-4_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}
.help{
<<<<<<< HEAD

  background: url( "../image/ask.png" ) no-repeat;
  background-size : cover;
  border: 0;
  outline: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  // background-color:white;
  // border:0px;
  // border-radius: 5px;
  position:relative;
  bottom:60px;
  left:80%;

  // cursor: pointer;
}

.help:hover{
  opacity: 0.6;
}
.placeholder-box {
=======
>>>>>>> 6705e05b6906fb1ccf4b5baa8233568d7df5ec42
  position: absolute;
  bottom : 4%;
  #btn{
    background: url( "../image/ask.png" ) no-repeat;
    background-size : cover;
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position:relative;
    bottom:60px;
    left:80%;

  }
  #helpMessage{
    position: absolute;
    z-index : 1;
    margin:0px 0px 0px 0px;
    right: 14%;
    bottom : 200%;
    border-radius:40px;
    width:250px;
    height:340px;  
    background-color:rgb(214, 223, 233);
  }
}



.p1{
  color : #225B95;
  font-size: 20px;
  margin-top:0%;
  margin-bottom:2%;;

}

.p2{
  margin-top:6%;
  line-height:25px;
  margin-left:14%;
  font-size: 12px;
  font-weight:bold;
  color:dimgrey;
}
@keyframes item-1_move {
0%, 100% {transform: translate(0, 0)} 
25% {transform: translate(0, 100px)} 
50% {transform: translate(100px, 100px)} 
75% {transform: translate(100px, 0)} 
}

@keyframes item-2_move {
0%, 100% {transform: translate(0, 0)} 
25% {transform: translate(-100px, 0)} 
50% {transform: translate(-100px, 100px)} 
75% {transform: translate(0, 100px)} 
}

@keyframes item-3_move {
0%, 100% {transform: translate(0, 0)} 
25% {transform: translate(0, -100px)} 
50% {transform: translate(-100px, -100px)} 
75% {transform: translate(-100px, 0)} 
}

@keyframes item-4_move {
0%, 100% {transform: translate(0, 0)} 
25% {transform: translate(100px, 0)} 
50% {transform: translate(100px, -100px)} 
75% {transform: translate(0, -100px)} 
}





/*
@keyframes spin {
to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
to { -webkit-transform: rotate(360deg); }
}*/