//less 파일 : css랑 같다고 생각하면 되는데 좀더 편하게 쓸 수 있음-지현
//$anchor-color: #555555;
div #Make{
    padding : 5px;
}

#container {
  
  @media only screen and (min-width : 1824px) {
    margin-left : 7%;
    width : 85%;
  }
    
    display: flex;
    height : 600px;
    width : 100%
  }
  #search {
    background: rgb(224, 222, 222);
    flex : 1;
    margin : 5px;
  }
  #timetable {
    background: rgb(224, 222, 222);
    flex:2;
    margin : 5px;
  }
  #save {
    background: rgb(224, 222, 222);
    flex : 1;
    margin : 5px;
  }

h1 {
	font-size: 30pt;
	color: orange;
  margin-bottom : 50px;
   
}

