// h1{

//    font

// }
.logo{
    text-align: center;
    h1{
      font-size : 80pt;
      margin-top : 8%;
      margin-bottom : 2%;
      color : #225B95;
      font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; 
      font-style : italic;
    }
    
  }

p{
    color:dimgrey;
    margin-left:25%;
   
}


h4{  font-style : italic;
    color:dimgrey;
    margin-left:25%;
}

h5{ margin-top:0%;
    margin-bottom:0.4%;
    color:dimgrey;
}

h6{
    margin-top:0%;
    margin-bottom:0%;
}
li{
    color:dimgrey;
    margin-left:25%;
}
.brothersite{
    margin: 5%;
}

a{  
    font-size:14px;
    margin:4%;
   
    
}
.message{
     margin-left:4%;

}

.back{
    margin-left:9%;
    width:100px;
    height:29px;
    background-color: #225B95;
    color: white;
    border:0;
    border-radius:5%;
    font-size:14pt;
}
a:link { color: dimgrey; text-decoration: none; }
a:visited { color: dimgrey; text-decoration: none; }
