div #show{
	padding : 5px;
	
}

.container{
	display : inline-flex;
	width : 100%;
	margin-left : 2%;
	// @media only screen and (min-width : 1824px) {
	// 	margin-left : 7%;
	// 	margin-right : 7%;
	// }
	#list{
		margin-top:2%;
		margin-left :5.5%;
		// @media only screen and (min-width : 1824px) {
		// 	width : 700px;
		// 	height : 700px;
		// }
		width : 530px;
		height : 530px;
		border : 2px solid #225B95;
	}
	#timetable{
		margin-top:2%;
		margin-left: 4%;
		// @media only screen and (min-width : 1824px) {
		// 	width : 700px;
		// 	height : 700px;
		// }
		width : 530px;
		height : 530px;
		border : 2px solid #225B95;
	}
}