div #show{
	padding : 5px;
}

h1 {
	font-size: 30pt;
	color: orange;
	margin-bottom : 50px;
}
.container{
	display : inline-flex;
	// @media only screen and (min-width : 1824px) {//큰화면 기준
	 margin-left : 2%;
	// 	// margin-right : 7%;
	// }
}

#list{
	margin: 50px;
	// @media only screen and (min-width: 1224px) {
	// 	width : 600px;
	// 	height : 600px;

	// }
	// @media only screen and (min-width : 1824px) {
	// 	width : 700px;
	// 	height : 700px;
	// }
	width : 530px;
	height : 530px;
	border : 2px solid #225B95;
}
#timetable{
	margin : 50px;
	// @media only screen and (min-width : 1824px) {
	// 	width : 700px;
	// 	height : 700px;
	// }
	width : 530px;
	height : 530px;
	border : 2px solid #225B95;
}