$base: 68px;//기본크기

$start0: 0px;
$start1: 0px;
$start2 : 0%;
$start3 : 50%;
$start4 : 33%;
$start5 : 66%;


$size0 : 100%;
$size1 : 50%;
$size2 : 33%;
$size3 : 50%;
$size4 : 33%;
$size5 : 33%;



::-webkit-scrollbar { 
    display: none; 
}
.node{
    overflow: -moz-scrollbars-none;
    overflow-x:hidden;//영어가 길게 표시되는거 막으려고 한건데 서버가 안되서 되는지 모르겠음-지현
    height : $base;
    display : block;
    text-align: center;
    position : absolute;
    overflow: scroll;
    display : inline-block;
    background: olive;
    width : 100%;
    margin : 0;
    color : white;
    font-weight: 400;
    font-size : 12px;
    
    p{
        margin : 2px;
    }
    #course_name{
        font-size : 11px;
    }
    #code{
        font-size : 9px
    }
}
.box:hover .node{
    opacity: 0.6;
}
.box:hover .tooltip{
    display : inline;
}

.box:hover .tooltipsix{
    display : inline;
}

.tooltip {
    display : none;
    width: 100px;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    left : 90%;
    height : auto;
    /* Position the tooltip */
    position : absolute;
    z-index: 6;
    font-size : 10px;
    p{
        margin : 0;
    }
     #title{
         font-size : 12px;
         font-weight: 400
    }

}

.tooltipsix {
    display : none;
    width: 100px;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    right : 90%;
    height : auto;
    /* Position the tooltip */
    position : absolute;
    z-index: 6;
    font-size : 10px;
    p{
        margin : 0;
    }
     #title{
         font-size : 12px;
         font-weight: 400
    }

}
 




// 시간대 표시
.t1{
    //top : -465%; 혹시나 퍼센트로도 나타내 봄
    top : $base *0;
}
.t2{
    top : $base *1;
}
.t3{
   top : $base *2;
}
.t4{
    top : $base *3;
}
.t5{
    top : $base *4;
}
.t6{
    top : $base *5;
}
.t7{
    top : $base *6;
}
.t8{
    top : $base *7;
}
.t9{
    top : $base *8;
}
.t10{
    top : $base *9;
}


// 연강표시
#height1{
    height : $base
}

#height2{
    height : $base *2
}

#height3{
    height : $base *3
}
#height4{
    height : $base *4
}

.case0{
    left : $start0;
    width : $size0;

}

.case1{
    left : $start1;
    width : $size1;

}

.case2{
    left : $start2;
    width : $size2;

}

.case3{
    left : $start3;
    width : $size3;

}
 
.case4{
    left : $start4;
    width : $size4;

}


.case5{
    left : $start5;
    width : $size5;
}

#del{
    display:none;
    background : none;
    border : none;
    color : white;
    cursor : pointer
}
.box:hover #del{
    display : inline;
}
#course_name{
    font-size: 15px;
}
#credit{
    font-size : 10px;
}
#prof{
    font-size : 10px;
}