$start1: -388px;

div{
    position : relative;
    overflow: scroll;
    width  : auto;
    background: red;
    display : inline-block;
    margin : 0;
    top : -440%;
    color : white;
    font-size : 16px;

}