

.list{
    height: 500px;
    overflow:scroll;
}

table{
    border : 1px solid #225B95 ;
    border-collapse : collapse;
    width : 100%;
    border-right: none;
    // .tbl{
    //     font-size : 1px
    // }
   
}
tr{
    font-size : 12px;
    border : 2px solid #225B95;
    border-left : none;
    border-right: none; 
    height: 40px;
    th{
        font-size : 14px;
    }
    
    span{
        color:#225B95;
        opacity : 0.7;
    }
    #name { 

        width : 200px;
        span{
            color:#225B95;
            opacity : 0.7;
        }
    }
    .tbl{
        font-size : 12px
    }
}

td{
    font-size : 13px;
    text-align: center;

    button{
        padding : 4px;
        font-size : 12px;
        color:white;
        border : none;
        background-color:#225B95;
        cursor: pointer;
        border-radius: 9px;
    
    }
    button:hover { 
        
        background-color:rgb(12, 37, 61);
       
    }
}


